<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thesis Mentor</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/app.js" defer></script>
</head>

<body>

<header>
    <img src="/static/images/logoTM.png" alt="Logo" class="logo">
    <nav>
        <a href="/">Home</a>
        <a href="#features">Features</a>
        <a href="#contact">Contact</a>
    </nav>
</header>


<section class="hero">
    <h2>Your Intelligent Assistant for Thesis Writing</h2>
    <p> <b>Analyze your PDFs and get instant answers.</b></p>
    <a href="/chat">
        <button>Get Started</button>
    </a>
</section>

<section id="upload" class="upload">
    <h2>Upload Your Document</h2>
    <form>
        <input type="file" accept=".pdf" id="pdfFileIndex">
        <button type="button" id="uploadBtnIndex">Analyze</button>
    </form>
    <p id="statusIndex"></p>
</section>

<section id="features" class="features">
    <div class="feature">
        <h3>PDF Analysis</h3>
        <p>Upload your thesis and analyze its content.</p>
    </div>

    <div class="feature">
        <h3>Automatic Questions</h3>
        <p>Ask questions about your document.</p>
    </div>

    <div class="feature">
        <h3>Smart Summary</h3>
        <p>Get a quick summary of your document.</p>
    </div>

</section>

<footer id="contact">
    <p>© 2026 Thesis Mentor</p>
</footer>

</body>
</html>